body {
  font-family: sans-serif;
  text-align: center;
}
canvas {
  margin: 0 auto;
}
.controls {
  display: grid;
  grid-column-gap: 2px;
  grid-template-rows: auto;
  grid-row-gap: 2px;
  font-size: 12px;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}
.controls div {
  box-sizing: border-box;
  justify-self: stretch;
  align-self: center;
  text-align: center;
  padding: 6px 0;
}
.label {
  font-weight: bold;
}
.yellow {
  background-color: rgb(196, 133, 118);
}
.controls select {
  border: 0;
}
.controls input {
  width: 70%;
}
